

    .Polaris-Card{
        width:500px !important;

        border-radius:8px !important;
    }
    .user_avatars_list{
        display:flex;
        padding-bottom:15px;
        img{
            margin-left:5px;

        }

    }
    .button_grp{
        width:100%;
        display:flex;
        justify-content: space-between;
    }


